{
  "presets": [
    ["env", {
      "modules": "umd",
      "targets": {
      }
    }]
  ],
  "plugins": [
    ["transform-regenerator", {
      "asyncGenerators": true,
      "async": true,
    }]
  ]
}
